@tailwind base; 
@tailwind components; 
@tailwind utilities;

html, body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-scrolling: touch;
}

:root {
  --color-bg1: rgb(239, 236, 191);
  --color-bg2: rgb(254, 137, 18);
  --color1: 225, 168, 140;
  --color2: 255, 205, 54;
  --color3: 255, 244, 85;
  --color4: 250, 117, 91;
  --color5: 140, 197, 225;
  --color-interactive: 63, 132, 172;
  --circle-size: 80%;
  --blending: hard-light;

  --color-bg: #E3D7EA;
  --color-text: #FE100F;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

@font-face {
  font-family: 'PP Editorial New Regular';
  src: url('../../public/fonts/PPEditorialNew-Regular.otf')
}

@font-face {
  font-family: 'PP Editorial New Italic';
  src: url('../../public/fonts/PPEditorialNew-Italic.otf');
}

@font-face {
  font-family: 'PP Editorial New Ultrabold';
  src: url('../../public/fonts/PPEditorialNew-Ultrabold.otf');
}

@font-face {
  font-family: 'PP Editorial New Ultralight';
  src: url('../../public/fonts/PPEditorialNew-Ultralight.otf');
}

@font-face {
  font-family: 'PP Editorial New Ultrabold Italic';
  src: url('../../public/fonts/PPEditorialNew-UltraboldItalic.otf');
}

@font-face {
  font-family: 'PP Editorial New Ultralight Italic';
  src: url('../../public/fonts/PPEditorialNew-UltralightItalic.otf');
}

@font-face {
  font-family: 'PP Neue Montreal Medium';
  src: url('../../public/fonts/PPNeueMontreal-Medium.otf');
} 

@font-face {
  font-family: 'PP Neue Montreal Thin';
  src: url('../../public/fonts/PPNeueMontreal-Thin.otf');
} 
@font-face {
  font-family: 'Lettre';
  src: url('../../public/fonts/Lettre.otf');
}
@font-face {
  font-family: 'Bapalopa';
  src: url('../../public/fonts/bapalopa_pa.ttf');
}

@font-face {
  font-family: 'Founders Bold';
  src: url('../../public/fonts/TestFoundersGrotesk-Bold-BF66175e9700615.otf');
}


.project {
  @apply border-y border-black
}

.header {
  z-index: 100;
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  justify-content: space-between;
  transition: top 0.3s ease; /* Transición suave */
}

.nav-main {
  @apply font-neuemedium tracking-widest text-lg text-white absolute flex
}

.main-dots {
  @apply text-3xl text-yellow-100
}


.pre-content {
  @apply uppercase text-center pb-10 font-neuethin
}


.johanna {
  position: relative;
  display: inline-block;
}

.johanna::after {
  content: "";
  background-image: url('/johanna-2024.jpg'); /* Ruta a la imagen */
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -20%;
  left: 70%;
  transform: translateX(-50%);
  width: 200px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
  display: none; /* Oculta la imagen por defecto */
}

.johanna:hover::after {
  display: block; /* Muestra la imagen al hacer hover */
}

.nav-about {
  @apply  w-10 leading-none cursor-pointer
}
.nav-about:hover {
  @apply underline decoration-[2px] underline-offset-[7px] text-yellow-300
}

.pluma-title  {
  @apply absolute font-foundersbold text-[90px]
}
