@tailwind base; 
@tailwind components; 
@tailwind utilities;

html, body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-scrolling: touch;
}

:root {
  --color-bg1: rgb(239, 236, 191);
  --color-bg2: rgb(254, 137, 18);
  --color1: 225, 168, 140;
  --color2: 255, 205, 54;
  --color3: 255, 244, 85;
  --color4: 250, 117, 91;
  --color5: 140, 197, 225;
  --color-interactive: 63, 132, 172;
  --circle-size: 80%;
  --blending: hard-light;

  --color-bg: #E3D7EA;
  --color-text: #FE100F;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');

@font-face {
  font-family: 'PP Editorial New Regular';
  src: url('../../public/fonts/PPEditorialNew-Regular.otf')
}

@font-face {
  font-family: 'PP Editorial New Italic';
  src: url('../../public/fonts/PPEditorialNew-Italic.otf');
}

@font-face {
  font-family: 'PP Editorial New Ultrabold';
  src: url('../../public/fonts/PPEditorialNew-Ultrabold.otf');
}

@font-face {
  font-family: 'PP Editorial New Ultralight';
  src: url('../../public/fonts/PPEditorialNew-Ultralight.otf');
}

@font-face {
  font-family: 'PP Editorial New Ultrabold Italic';
  src: url('../../public/fonts/PPEditorialNew-UltraboldItalic.otf');
}

@font-face {
  font-family: 'PP Editorial New Ultralight Italic';
  src: url('../../public/fonts/PPEditorialNew-UltralightItalic.otf');
}

@font-face {
  font-family: 'Robert Medium';
  src: url('../../public/fonts/RoobertMedium.ttf');
} 

@font-face {
  font-family: 'PP Neue Montreal Medium';
  src: url('../../public/fonts/PPNeueMontreal-Medium.otf');
} 

@font-face {
  font-family: 'PP Neue Montreal Thin';
  src: url('../../public/fonts/PPNeueMontreal-Thin.otf');
} 

@font-face {
  font-family: 'BD Supper';
  src: url('../../public/fonts/BDSupperRegular.ttf');
} 
@font-face {
  font-family: 'BD Supper Bold';
  src: url('../../public/fonts/BDSupperBold.ttf');
} 
@font-face {
  font-family: 'Lettre';
  src: url('../../public/fonts/Lettre.otf');
}
@font-face {
  font-family: 'Bapalopa';
  src: url('../../public/fonts/bapalopa_pa.ttf');
}

.project {
  @apply border-y border-black
}

.scroll-message {
  /* animation: bounce 2s infinite, appear 0.5s forwards; */
  opacity: 0;
  transition: opacity 0.5s ease; 
}

.scroll-message.show {
  opacity: 1;
}

.header {
  z-index: 100;
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  justify-content: space-between;
  transition: top 0.3s ease; /* Transición suave */
}

.nav-main {
  @apply font-neuemedium tracking-widest text-lg text-white absolute flex
}

.main-dots {
  @apply text-3xl text-yellow-100
}


.pre-content {
  @apply uppercase text-center pb-10 font-neuethin
}

.modal {
  position: fixed;
  top: 0%;
  left: 0;
  transform: translateY(-50%, -50%);
  opacity: 0;
  padding: 20px;
  width: auto;
  height: calc(100% - 40px); /* Resta el padding superior e inferior */
  overflow-y: auto; /* Permite hacer scroll si el contenido es demasiado largo */
  transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Transición suave */
  z-index: 1000; /* Asegura que el modal esté por encima del resto del contenido */
}

.modal.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.modal button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #FE100F;
}

.modal-enter {
  transform: translateX(-100%);
}

.modal-enter-active {
  transform: translateX(0);
}

.modal-exit {
  transform: translateX(0);
}

.modal-exit-active {
  transform: translateX(-100%);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

